* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  width: 900px;
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.left-side {
  flex: 1;
  background-color: #333;
  position: relative;
  overflow: hidden;
}

.barber-pole {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
  /* Aumentando a transparência (reduzindo a opacidade) */
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.logo {
  width: 150px;
  height: 120px;
  margin-top: -30px;
  object-fit: cover;
  margin-right: -30px;
  margin-left: -30px;


}

.login-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #DEE33E;
  border-radius: 15px;
  margin: 0;
}

h1 {
  font-size: 22px;
  margin-bottom: 25px;
  color: #333;
  text-align: center;
}

form {
  width: 100%;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.forgot-password {
  text-align: center;
  margin-bottom: 15px;
}

.forgot-password a {
  color: #333;
  text-decoration: none;
  font-size: 12px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #a3a31a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

.login-button:hover {
  background-color: #8a8a15;
}

.register-link {
  text-align: center;
  font-size: 12px;
  color: #333;
}

.register-link a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .left-side {
    display: none;
  }

  .right-side {
    width: 100%;
  }

  .login-container {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
  }
}